body {
    background-color: #0f2607;
    font: 13pt Helvetica;
    color: rgb(203, 201, 201);
}

main {
    background-color: black;
    width: 800px;
    padding: 20px;
    margin: auto;
    /* border-radius: 10px; */
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.529);
}

h1 {
    text-align: center;
    color: rgb(255, 255, 255);
}

.exerc:hover{
    transform: scale(1.1);
}

.titulo-2{
    color: rgb(255, 253, 248);
}

h2 {
    color: rgb(255, 255, 255);
}

aside {
    display: block; 
    font-size: 10pt;
   
    text-align: justify;
    background-color: #295c15;
    padding: 20px;
    
    margin-bottom: 10px;
}


aside img {
    width: 60px; 
    display: block; 
    float: left;
    margin-right: 10px;
}

a, a:visited {
    color: rgb(211, 210, 210);
    font-weight: bolder;
}

a:hover {
    color: #295c15;
    text-decoration: none;
    transform: scale(2.0);
}